body {
    font-family: 'Raleway';
    color: black;
    background-color: white;
}

.section {
    font-size: 15px;
    margin-top: 64px;
    text-align: center;
    font-weight: 400;
}

.about {
    font-size: 30px;
    letter-spacing: 4px;
}