body {
    font-family: 'Raleway';
    color: white;
    background-color: white;
}

img {
    width: 65px;
    height: 65px;
    display: inline-block;
    padding: 0 1px
}

.section {
    font-size: 13px;
    text-align: center;
    font-weight: 400;
}