body {
    font-family: 'Raleway';
    color: white;
    background-color: white;
}

img {
    width: 11%;
    display: inline-block;
    padding: 0 5px
}

.section {
    font-size: 13px;
    text-align: center;
    font-weight: 400;
}

.about {
    font-size: 17px;
    letter-spacing: 5px;
}